/*---Обнулєніє стилів start---*/
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/*---Обнулєніє стилів end---*/

.body_wrap{
    width: 1440px;
    height: auto;
    text-transform: uppercase;
    color: white;
    background: #000000;
}
/*---header style start---*/
.header{
    padding-left: 88px;
    padding-right: 88px;
}
.rectangle1{
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0px;
    top: 40px;

    background: #31353E;
}
.header_top{
    display: flex;
    justify-content: space-between;
    height: 40px;
    /*border-bottom: 0.5px solid;*/

}
.header_left,.header_right{
    display:  flex;
    justify-content:center;
    align-items: center;
}
.tel{
    padding-left: 54px;
}
.currency{
    padding-left: 69px;
}
.language img{
    width:30px;
}
.header_bottom{
    display:  flex;
    height: 69px;
}
.header_menu li{
    display:  inline;
    padding-right: 67px;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;

}
/*---header style end---*/